@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Josefin+Sans:ital,wght@0,300;0,700;1,300&family=Montserrat:ital,wght@0,400;0,700;1,200&family=Unbounded:wght@300;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-color: #312e81;
    --highlight-color: #facc15;
    --neutral-color: #a3a3a3;
    --highlight-color2: #4ade80;
    --font: Montserrat, Helvetica, sans-serif;
}

body {
    font-family: var(--font);
}

h1 {
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    width: 350px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.question {
    display: flex;
    gap: 10px;
    height: 200px;

    width: 400px;
    background-color: var(--highlight-color);
    padding: 15px;
    border-radius: 20px;
}

.q-num {
    font-size: 70px;
    padding: 20px;
    align-self: center;
}

.q-title {
    align-self: center;
    font-size: 24px;
    font-style: italic;
}

.q-body {
    width: 300px;
    padding: 4px;
    margin: 4px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
}

label {
    padding: 4px;
}

input[type='radio']:checked {
    color: var(--highlight-color2)
}

.hidden {
    display: none;
}